<div id="background-section" [ngStyle]="{'background-image': 'url(' + currentImage + ')'}">
  <div class="overlay"></div>
  <div class="text1">
    <h2 class="title">Peur de perdre la trace de votre Engin ?</h2>
    <p class="presentation">
      Avec LOCAL Services, gardez le contrôle total de votre Engin, où que vous soyez !
    </p>
    <p class="detail-presentatio">
      LOCAL Services, leader en géolocalisation au Cameroun et en côte d'ivoire,
      vous propose une solution fiable, performante et accessible pour suivre et sécuriser
      votre Engin en temps réel, directement depuis votre smartphone.
    </p>
  </div>
</div>
