/* countdown.component.css */
.countdown {
  width: 110%;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.value, .label{
  color: red;
}

.time-box {
  border: 2px solid red;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
}

/* Styles pour les petits écrans */
@media (max-width: 1000px) {
  .countdown {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .countdown {
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding: 0;
  }

  .time-box {
    padding: 5px;
    border: 5px solid  red;
  }

}
